@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    max-width: 1300px;
    margin: 0 auto;
}

.navigation {
    padding: 0 20px;
}

.navigation p {
    display: inline-block;
    font-size: 23px;
    width: 600px;
    margin-left: 20px;
}

.navigation p span {
    color: #50b9e1;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;
    padding-right: 10px;
}

nav i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

.navigation>nav>ul>li>ul {
    padding: 0;
}

a:hover {
    color: #50b9e1;
    cursor: pointer;
}

/* site-header */

.site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('./Images/kids_main.jpg');
    background-size: cover;
}

.site-header h1 {
    width: 38%;
    margin: 0;
    font-size: 66px;
    color: white;
    padding: 200px 0 80px 100px;
}

.site-header button {
    font-size: 26px;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    margin: 0 0 100px 100px;
}

.site-header button:hover {
    background: #50b9e1;
    border: 2px solid white;
    cursor: pointer;
}

/*.welcome*/

.welcome {
    color: #50b9e1;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
}

.welcome p {
    text-align: center;
}

/*offerts*/

.offerts {
    background-color: #50b9e1;
    font-family: 'PT Serif', serif;
    color: white;
    padding: 20px 30px;
}

.offerts li {
    width: 32%;
    text-align: center;
}

.offerts img {
    width: 100px;
}

/*camps*/

.camps {
    color: #50b9e1;
    padding: 20px 0 0 0;
}

.camps p:nth-child(2) {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.camps li {
    display: inline-block;
    width: 32%;
    padding: 0 4px;
}

.camps li:hover {
    border: 2px solid #50b9e1;
}

.camps img {
    width: 100%;
}

.info div {
    display: inline-block;
    font-size: 20px;
}

.info div:nth-child(1) {
    padding-right: 200px;
}

.more-info p {
    color: black;
}

.more-info button {
    background: transparent;
    border: 2px solid #50b9e1;
    padding: 15px 5px;
    color: #50b9e1;
    font-size: 18px;
    margin: 10px 10px;
}

.more-info button:hover {
    background-color: #50b9e1;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 5px 5px;
}

/*footer*/
    footer {
        height: 300px;
        margin:0;
        padding: 0;
    }
    .footer {
        background-color: #43bae3;
        margin: 0 40px;
    }
    .footer p {
        color: #418dac;
        font-size: 16px;
        padding: 30px 60% 10px 40px;
        display: inline-block;
    }
    .footer ul {
        width: 100px;
        margin:0;
        display: inline-block;
    }
    .footer ul > li {
        display: inline-block;
    }
