main{
    margin: 0 auto;
}
div {
    display: inline-block;
    margin: 20px 40px 400px 0px;
    padding:    0 ;
    border: 1px solid black;
}
button {
    padding: 40px 40px 40px 0px;
    color: red;
    background-color: sandybrown;
    font-size:  20px;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: yellow;
}

div#error {
    color: red;
    border:solid 2px red;
    margin: 0 auto;
    width: 600px;
    font-size: 30px;
}
div#success {
    color: lightgreen;
    border: solid 3px lightgreen;
    margin: 0 auto;
    width: 600px;
    font-size: 30px;

}